version: 2.1
orbs:
  heroku: circleci/heroku@1.2.3
  node: circleci/node@3.0.0
jobs:
  lint:
    executor:
      name: node/default
    steps:
      - checkout
      - run:
          name: npm install
          command: npm install
      - run:
          name: lint
          command: npm run lint
  codecov:
    executor:
      name: node/default
    steps:
    - checkout
    - run:
        name: upload report
        command: bash <(curl -s https://codecov.io/bash)
workflows:
  heroku_deploy:
    jobs:
      - lint
      - heroku/deploy-via-git
      - codecov
